
   body {
    background-color:#c4f2a2;
   }

   h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #5c3330
   }

   p{
    font-family: Arial, Helvetica, sans-serif;
    color: #5c3330
   }
   
   .submit-btn {
        border: 1px solid #5c3330; /* Optional: Adds a border for contrast */
        transition: background-color 0.3s, color 0.3s;
    }

    .submit-btn:hover {
        background-color: #5c3330;
        color: white;
    }

    .lace-banner{

        background-image: url('lace.png'); /* Replace with your lace image */
        background-repeat: repeat-x;
        background-size: auto 350px;
        width: 100%;
        position: absolute; 
        top: 0%;
        left: 0;
    }

    
    #elephant1{
        max-width: 300px;
    }
    #elephant2{
        max-width: auto;
    }